
Warning: Invalid argument supplied for foreach() in /Users/zbynekrybicka/www/Magdalena/applications/AsyncBook/latte/app-front-style.latte--c2e4e15cc9.php on line 13

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}